<div class="container" style="background-color: white; width: auto; height: 100%">
  <div class="text-center">
    <%= link_to edit_daily_target_path(@daily_target.id), class: "link" do  %>
      <h1 class="font-weight-bold mt-4" style="font-size: 28px">Mis objetivos diarios<!-- <i class="fas fa-pencil-alt ml-3"></i> --></h1>
    <% end %>
    <!-- <p class="m-0 p-0 ml-5 pl-5"><small>objetivo</small></p> -->
    <!-- <div class="d-flex justify-content-center align-items-center m-3">
      <div class="border" style="background-color: #71CC34; border-style: hidden; border-radius: 8px 1px 1px 8px">
        <p class="my-0 p-1">Consumido</p>
      </div>
      <div>
        <p class="my-0 p-1 border" style="border-radius: 1px 8px 8px 1px">Restante</p>
      </div>
    </div>
  </div> -->
  <div class="d-flex justify-content-between mb-2 mt-0">
    <p class="mb-0 mt-4">Calorías (kcal)</p>
    <p class="mb-0 mt-4">Target: <%= @daily_target.caloric_target %></p>
  </div>
  <!-- <div class="text-right my-0">
    <%= link_to edit_daily_target_path(@daily_target.id), class: "link" do  %>
      <span><small><%= @daily_target.caloric_target %></small></span>
    <% end %>
  </div> -->
  <% width_consumed_cal = (@daily_target.caloric_target - @cal_left)/@daily_target.caloric_target.to_f*100 %>
  <div class="d-flex w-100 mt-0 justify-content-center align-items-center">
    <div class="text-left px-2 border" style="width:<%= width_consumed_cal %>%; background-color: #71CC34; border-style: hidden; border-radius: 8px 1px 1px 8px">
      <span class="font-weight-bold"><%= @daily_target.caloric_target - @cal_left %></span>
    </div>
    <% width_cal_left = @cal_left/@daily_target.caloric_target.to_f*100 %>
    <div class="text-right px-2 border" style="width:<%= width_cal_left %>%; border-style: hidden; border-radius: 1px 8px 8px 1px">
      <span class="font-weight-bold"><%= @cal_left %></span>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-2 mt-0">
    <p class="mb-0 mt-4">Proteínas (g)</p>
    <p class="mb-0 mt-4">Target: <%= @daily_target.protein_target %></p>
  </div>
  <!-- <div class="text-right my-0">
    <%= link_to edit_daily_target_path(@daily_target.id), class: "link" do  %>
      <span><small><%= @daily_target.protein_target %></small></span>
    <% end %>
  </div> -->
  <% width_consumed_proteins = (@daily_target.protein_target - @proteins_left)/@daily_target.protein_target.to_f*100 %>
  <div class="d-flex w-100 mt-0 justify-content-center align-items-center">
    <div class="text-left px-2 border" style="width:<%= width_consumed_proteins %>%; background-color: #71CC34; border-style: hidden; border-radius: 8px 1px 1px 8px">
      <span class="font-weight-bold"><%= @daily_target.protein_target - @proteins_left%></span>
    </div>
    <% width_proteins_left = @proteins_left/@daily_target.protein_target.to_f*100 %>
    <div class="text-right px-2 border" style="width:<%= width_proteins_left %>%; border-style: hidden; border-radius: 1px 8px 8px 1px">
      <span class="font-weight-bold"><%= @proteins_left %></span>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-2 mt-0">
    <p class="mb-0 mt-4">Carbohidratos (g)</p>
    <p class="mb-0 mt-4">Target: <%= @daily_target.carb_target %></p>
  </div>
  <!-- <div class="text-right my-0">
    <%= link_to edit_daily_target_path(@daily_target.id), class: "link" do  %>
      <span><small><%= @daily_target.carb_target %></small></span>
    <% end %>
  </div> -->
  <% width_consumed_carbs = (@daily_target.carb_target - @carbs_left)/@daily_target.carb_target.to_f*100 %>
  <div class="d-flex w-100 mt-0 justify-content-center align-items-center">
    <div class="text-left px-2 border" style="width:<%= width_consumed_carbs %>%; background-color: #71CC34; border-style: hidden; border-radius: 8px 1px 1px 8px">
      <span class="font-weight-bold"><%= @daily_target.carb_target - @carbs_left %></span>
    </div>
    <% width_carbs_left = @carbs_left/@daily_target.carb_target.to_f*100 %>
    <div class="text-right px-2 border" style="width:<%= width_carbs_left %>%; border-style: hidden; border-radius: 1px 8px 8px 1px">
      <span class="font-weight-bold"><%= @carbs_left %></span>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-2 mt-0">
    <p class="mb-0 mt-4">Grasas Totales (g)</p>
    <p class="mb-0 mt-4">Target: <%= @daily_target.fat_target %></p>
  </div>
  <!-- <div class="text-right my-0">
    <%= link_to edit_daily_target_path(@daily_target.id), class: "link" do  %>
      <span><small><%= @daily_target.fat_target %></small></span>
    <% end %>
  </div> -->
  <% width_consumed_fats = (@daily_target.fat_target - @fats_left)/@daily_target.fat_target.to_f*100 %>
  <div class="d-flex w-100 mt-0 justify-content-center align-items-center">
    <div class="text-left px-2 border" style="width:<%= width_consumed_fats %>%; background-color: #71CC34; border-style: hidden; border-radius: 8px 1px 1px 8px">
      <span class="font-weight-bold"><%= @daily_target.fat_target - @fats_left %></span>
    </div>
    <% width_fats_left = @fats_left/@daily_target.fat_target.to_f*100 %>
    <div class="text-right px-2 border" style="width:<%= width_fats_left %>%; border-style: hidden; border-radius: 1px 8px 8px 1px">
      <span class="font-weight-bold"><%= @fats_left %></span>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-12 col-lg-6 text-center px-2">
      <% if @items_consumed_today.any? %>
        <div class="d-flex align-items-center justify-content-center">
          <%= link_to new_item_path, class: "link d-flex align-items-center" do  %>
            <h1 class="w-100 font-weight-bold mr-0 pr-0" style="font-size: 28px">Consumos del día</h1>
            <!-- <i class="fas fa-plus ml-0 pl-4" style="font-size:130%"></i> -->
          <% end %>
        </div>
        <% @items_consumed_today.each do |item|%>
          <ul class="w-100 px-0">
            <div class="d-flex justify-content-center">
              <%= link_to edit_item_path(item), class: "link d-flex align-items-center" do  %>
                <li class="w-100 px-1" style="list-style:none; font-size:120%"><!-- <i class="fas fa-utensils mr-2 text-center" style="font-size:70%"></i> --><%= item.name %><br><small style="font-size:65%">Cal: <%= item.calories%>, Proteínas: <%= item.proteins%>, Carb: <%= item.carbs%>, Grasas: <%= item.fats%></small></li>
                <!-- <i class="fas fa-pencil-alt ml-3" style="font-size:100%"></i> -->
              <% end %>
            </div>
          </ul>
        <% end %>
      <% else %>
        <%= link_to new_item_path, class: "link" do  %>
          <div class="d-flex justify-content-center">
            <h1 class="w-100 font-weight-bold mr-0 pr-0" style="font-size: 28px">No Consumo Registrado hoy</h1>
            <i class="fas fa-plus ml-0 pl-0" style="font-size:130%"></i>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
