<div class="container mt-5">
  <div class="text-center">
    <h1>Mis Objetivos diarios</h1>
    <h4>Consumido | Restante</h4>
  </div>
<p class="mb-0">Calorías (kcal)</p>
<div class="text-right my-0">
  <span><small><%= current_user.daily_targets.last.caloric_target %></small></span>
</div>
<div class="d-flex" style="border-radius: 8px;">
  <div class="d-flex w-100 mt-0 justify-content-center align-items-center">
    <div class="w-100 text-center" style="background-color: #C0EA04; border-color: gray">
      <span class="font-weight-bold"><%= current_user.daily_targets.last.caloric_target - @cal_left %></span>
    </div>
    <div class="w-100 text-center" style="background-color: white; border-color: gray">
     <span class="font-weight-bold"><%= @cal_left %></span>
    </div>
  </div>
</div>

<div class="d-flex">
  <p>Proteínas diarias (g)</p> <%= current_user.daily_targets.last.protein_target %>
  <p>Consumed: </p><%= current_user.daily_targets.last.protein_target - @proteins_left%> /
  <p>Left: </p> <%= @proteins_left %>
</div>
<div class="d-flex">
  <p>Carbohidratos diarios (g)</p> <%= current_user.daily_targets.last.carb_target %>
  <p>Consumed: </p><%= current_user.daily_targets.last.carb_target - @carbs_left %> /
  <p>Left: </p> <%= @carbs_left %>
</div>
<div class="d-flex">
  <p>Grasas totales diarias (g)</p> <%= current_user.daily_targets.last.fat_target %>
  <p>Consumed: </p> <%= current_user.daily_targets.last.fat_target - @fats_left %> /
  <p>Left: </p> <%= @fats_left %>
</div>

<br>
<h1>Mi Consumo hoy</h1>
<% current_user.orders.each do |order| %>
  <% order.order_items.each do |order_item| %>
    <% if order_item.consumed_at.day == Time.zone.now.day && order_item.consumed_at.month == Time.zone.now.month && order_item.consumed_at.year == Time.zone.now.year %>
      <ul>
        <li><%= Item.find_by_id(order_item.item_id).name %> (Cal: <%= Item.find_by_id(order_item.item_id).calories%>, Prot: <%= Item.find_by_id(order_item.item_id).proteins%>, Carb: <%= Item.find_by_id(order_item.item_id).carbs%>, Grasas: <%= Item.find_by_id(order_item.item_id).fats%>) / <%=order_item.consumed_at%></li>
      </ul>
    <% end %>
  <% end %>
<% end %>

</div>
