  <div class="container mt-5" style="background-color:white">
  <h1 class="font-weight-bold">Orden Confirmada</h1>
  <div class="row border border-dark">

    <% @order.items_and_qty.each do |key, item|  %>
      <div class="col-3">
        <h2 class="font-weight-bold">Plato</h2>
        <%= item[0].name %>
      </div>
      <div class="col-3">
        <h2 class="font-weight-bold">Calorías</h2>
        <%= item[0].calories %> kcal
      </div>
      <div class="col-3">
        <h2 class="font-weight-bold">Precio</h2>
        $<%= item[0].price %>
      </div>
      <div class="col-3">
        <h2 class="font-weight-bold">Cantidad</h2>
        <%= item[1] %>
      </div>
    <% end %>

    <div>
      <h4 class="mt-4 ml-4 font-weight-bold">$<%= @order.total_price %></h4>
      <div class="d-flex align-items-center">
        <h4 class="mt-4 ml-4 font-weight-bold"><%= @order.total_cal %> Kcal</h4>
          <% if @order.total_cal_in_target? %>
            <h4 class="mt-4 font-weight-bold ml-4">✔ dentro de tu objetivo!</h4>
          <% end %>
      </div>
    </div>
  </div>
</div>

