<div class="container mt-5" style="background-color:white">
  <h2 class="font-weight-bold">Tu orden confirmada</h2>

    <% @order.order_items.each do |order_item| %>
      <div class="row">
        <div class="col-6">
          <p><%= order_item.item.name %></p>
        </div>
        <div class="col-3">
          <p><%= order_item.item.calories %> kcal</p>
        </div>
        <div class="col-3">
          <p>$<%= order_item.item.price %></p>
        </div>
      </div>
    <% end %>

    <div>
      <h4 class="mt-4 ml-4">$<%= @order.total_price %></h4>
      <div class="d-flex align-items-center">
        <h4 class="mt-4 ml-4"><%= @order.total_cal %> Kcal</h4>
          <% if @order.total_cal_in_target? %>
            <h4 class="mt-4 ml-4">✔ dentro de tu objetivo!</h4>
          <% end %>
      </div>
    </div>
</div>

