<div class="col-12 col-lg-6 px-0">
  <div>
    <% if @item.price.nil? %>
      <%= form_for [@item] do |f| %>
        <%= f.label :name, "Nombre" %>
        <%= f.text_field :name %><br>
        <%= f.label :calories, "Calorías (kcal): " %>
        <%= f.text_field :calories %><br>
        <%= f.label :proteins, "Proteínas (gr): " %>
        <%= f.text_field :proteins %><br>
        <%= f.label :fats, "Grasas Totales (gr): " %>
        <%= f.text_field :fats %><br>
        <%= f.label :carbs, "Carbohidratos (gr): " %>
        <%= f.text_field :carbs %><br>
      <%= f.submit 'Confirmar', class: 'btn btn-green w-100' %>
      <% end %>

      <% if !@order_item.nil? %>
        <%= link_to edit_order_item_path(@order_item.id), class: "link" do  %>
          <div class="d-flex">
            <p>Cambiar fecha de consumo</p>
            <i class="fas fa-pencil-alt ml-3" style="font-size:100%"></i>
          </div>
      <% end %>

      <% end %>

    <% else %>
      <h3><%= @item.name %></h3>
      <span>Calorías (kcal): <%= @item.calories %></span><br>
      <span>Proteínas (gr): <%= @item.proteins %></span><br>
      <span>Grasas Totales (gr): <%= @item.fats %></span><br>
      <span>Carbohidratos (gr): <%= @item.carbs %></span><br><br>
      <%= link_to edit_order_item_path(@order_item.id), class: "link" do  %>
        <div class="d-flex">
          <p>Cambiar fecha de consumo</p>
          <i class="fas fa-pencil-alt ml-3" style="font-size:100%"></i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


