<div class="col-12 col-lg-6 px-0">
  <div>
    <%= simple_form_for @item do |f| %>
      <%= f.input :name, label: 'Nombre del Plato:', placeholder: "Ensalada Crispy", required: true %>
      <%= f.input :calories, label: 'Calorías (kcal)', placeholder: '285', collection: 1..2000, required: true %>
      <%= f.input :proteins, label: 'Proteínas (gr)', placeholder: '24', collection: 1..100, required: true %>
      <%= f.input :fats, label: 'Grasas Totales (gr)', placeholder: '15', collection: 1..100, required: true %>
      <%= f.input :carbs, label: 'Carbohidratos (gr)', placeholder: '14', collection: 1..100, required: true %>
      <%= f.submit 'Confirmar', class: 'btn btn-green w-100' %>
    <% end %>
  </div>
</div>
