<div class="container "style="background-color: white; height:100vh; width: auto">

  <div class="row px-1 mx-auto mt-4 justify-content-center">
    <div class="col-12 col-md-7 col-lg-5 col-xl-4 border mt-4" style="background-color: white; height:auto; width: auto; border-radius: 8px">
        <h1 class="mt-2 text-center" style="font-size:190%">Registrar una comida</h1>
        <% if @item.price.nil? %>
          <%= form_for @item do |f| %>

            <div class="mt-4">
              <div class="row mx-1">
                <%= f.text_field :name, placeholder: '¿Qué comiste?', class: 'form-control', style:'border-radius:8px' %><br>
              </div>

              <div>
                <div class="row mt-4 mx-1 w-auto">
                  <%= f.label :calories, "Calorías (kcal)"%><br>
                </div>
                <div class="row mx-1">
                  <div class="col-3 col-lg-4 text-center font-weight-bold w-100">
                    <% if @item.calories %>
                      <% item_calories = @item.calories %>
                      <% else %>
                      <% item_calories = 0 %>
                    <% end %>
                    <span type="text" id="putcal" class="range-number text-center"><%=item_calories%></span>
                  </div>
                  <div class="col-9 col-lg-8 text-center">
                    <%= f.range_field(:calories, in: 1..2000, :step => 1, :value => item_calories, class:'w-100 range', oninput:'fetch_cal(this.value)')%>
                  </div>
                </div>

                <div class="row mt-2 mx-1">
                  <%= f.label :proteins, "Proteínas (g)"%><br>
                </div>
                <div class="row mx-1">
                  <div class="col-3 col-lg-4 text-center font-weight-bold">
                    <% if @item.proteins %>
                      <% item_proteins = @item.proteins %>
                      <% else %>
                      <% item_proteins = 0 %>
                    <% end %>
                    <span type="text" id="putprot" class="range-number text-center"><%=item_proteins%></span>
                  </div>
                  <div class="col-9 col-lg-8">
                    <%= f.range_field(:proteins, in: 1..100, :step => 1, :value => item_proteins, class:'w-100 range', oninput:'fetch_prot(this.value)') %>
                  </div>
                </div>

                <div class="row mt-2 mx-1">
                  <%= f.label :carbs, "Carbohidratos (g)" %><br>
                </div>
                <div class="row mx-1">
                  <div class="col-3 col-lg-4 text-center font-weight-bold">
                    <% if @item.carbs %>
                      <% item_carbs = @item.carbs %>
                      <% else %>
                      <% item_carbs = 0 %>
                    <% end %>
                    <span type="text" id="putcarb" class="range-number text-center"><%=item_carbs%></span>
                  </div>
                  <div class="col-9 col-lg-8">
                    <%= f.range_field(:carbs, in: 1..250, :step => 1, :value => item_carbs, class:'w-100 range', oninput:'fetch_carb(this.value)') %>
                  </div>
                </div>
              </div>

                <div class="row mt-2 mx-1">
                  <%= f.label :fats, "Grasas Totales (g)"%><br>
                </div>
                <div class="row mx-1">
                  <div class="col-3 col-lg-4 text-center font-weight-bold">
                    <% if @item.fats %>
                      <% item_fats = @item.fats %>
                      <% else %>
                      <% item_fats = 0 %>
                    <% end %>
                    <span type="text" id="putfat" class="range-number text-center"><%=item_fats%></span>
                  </div>
                  <div class="col-9 col-lg-8">
                    <%= f.range_field(:fats, in: 1..100, :step => 1, :value => item_fats, class:'w-100 range', oninput:'fetch_fat(this.value)') %>
                  </div>
                </div>

              <div class="row field mt-4 ml-1">
                <%= f.fields_for :order_items do |builder| %>
                  <div class="d-flex flex-column">
                    <%= builder.label :consumed_at, "Consumido el (m/d/a):" %>
                    <%= builder.date_field :consumed_at, min: Date.today - 15, max: Date.tomorrow, class:'border form-control', style:'border-radius:8px'%>
                  </div>
                <% end %>
              </div>

            </div>

            <div class="mt-4">
              <%= f.submit 'Confirmar', class: 'btn btn-green w-100 form-control mb-2' %>
            </div>

          <% end %>

        <% else %>

          <ul class="mt-5 px-0" style="list-style:none; margin-left:23%">
            <h4 class="font-weight-bold" style="color:#C0EA04"><%= @item.name %></h4>
            <li>Calorías (kcal): <strong><%= @item.calories %></strong></li>
            <li>Proteínas (gr): <strong><%= @item.proteins %></strong></li>
            <li>Grasas Totales (gr): <strong><%= @item.fats %></strong></li>
            <li>Carbohidratos (gr): <strong><%= @item.carbs %></strong></li>
          </ul>
            <div>
              <%= form_for @order_item do |f| %>
              <div class="row field mt-4 ml-1">
                <div class="d-flex flex-column mb-5" style="margin-left:23%">
                  <%= f.label :consumed_at, "Consumido el (m/d/a):" %>
                  <%= f.date_field :consumed_at, min: Date.today - 15, max: Date.tomorrow, class:'border form-control', style:'border-radius:8px' %>
                </div>
              </div>
              <%= f.submit 'Confirmar', class: 'btn btn-green w-100 form-control mb-2' %>
              <% end %>
            </div>
        <% end %>
    </div>
  </div>
</div>

<script>
  function fetch_cal (value) {
    document.getElementById('putcal').innerHTML = value;

  }

    function fetch_prot (value) {
      document.getElementById('putprot').innerHTML = value;
  }

      function fetch_carb (value) {
      document.getElementById('putcarb').innerHTML = value;
  }

    function fetch_fat (value) {
      document.getElementById('putfat').innerHTML = value;
  }
</script>
