<div class="row justify-content-center px-1 mx-1 mt-4" style="background-color: white; height:100vh; width: auto">
  <div class="col-12 col-sm-8 col-lg-6" style="background-color: white; height:100vh; width: auto">
    <h1 class='text-center' style="font-size:190%">Consumo de Hoy</h1>
<% if @item.price.nil? %>
  <%= form_for @item do |f| %>

    <div class="mt-4">
      <div class="row mx-1">
        <%= f.label :name, "Nombre" %>
        <%= f.text_field :name, class: 'form-control' %><br>
      </div>

      <div>
        <div class="row mt-4 mx-1 w-auto">
          <%= f.label :calories, "Calorías (kcal):"%><br>
        </div>
        <div class="row mx-1">
          <div class="col-2 col-lg-4 text-center font-weight-bold w-100">
            <output type="text" id="putcal" class="mx-3 range-number"></output>
          </div>
          <div class="col-10 col-lg-8 text-center">
            <%= f.range_field(:calories, in: 1..700, :step => 1, id:'getcal', class:'align-middle range-bar w-100', onchange:'fetch_cal()')%>
          </div>
        </div>

        <div class="row mt-2 mx-1">
          <%= f.label :proteins, "Proteínas (gr):"%><br>
        </div>
        <div class="row mx-1">
          <div class="col-2 col-lg-4 text-center font-weight-bold">
            <output type="text" id="putprot" class="mx-3 range-number"></output>
          </div>
          <div class="col-10 col-lg-8">
            <%= f.range_field(:proteins, in: 1..30, :step => 1, id:'getprot', class:'align-middle range-bar w-100', onchange:'fetch_prot()') %>
          </div>
        </div>

        <div class="row mt-2 mx-1">
          <%= f.label :fats, "Grasas Totales (gr):"%><br>
        </div>
        <div class="row mx-1">
          <div class="col-2 col-lg-4 text-center font-weight-bold">
            <output type="text" id="putfat" class="mx-3 range-number"></output>
          </div>
          <div class="col-10 col-lg-8">
            <%= f.range_field(:fats, in: 1..77, :step => 1, id:'getfat', class:'align-middle range-bar w-100', onchange:'fetch_fat()') %>
          </div>
        </div>

        <div class="row mt-2 mx-1">
          <%= f.label :carbs, "Carbohidratos (gr): " %><br>
        </div>
        <div class="row mx-1">
          <div class="col-2 col-lg-4 text-center font-weight-bold">
            <output type="text" id="putcarb" class="mx-3 range-number"></output>
          </div>
          <div class="col-10 col-lg-8">
            <%= f.range_field(:carbs, in: 1..130, :step => 1, id:'getcarb', class:'align-middle range-bar w-100', onchange:'fetch_carb()') %>
          </div>
        </div>
      </div>

      <div class="row field mt-4 ml-1">
        <%= f.fields_for :order_items do |builder| %>
          <div class="d-flex flex-column">
            <%= builder.label :consumed_at, "Consumido (m/d/a)" %>
            <%= builder.date_field :consumed_at %>
          </div>
        <% end %>
      </div>

    </div>

    <div class="mt-4">
      <%= f.submit 'Confirmar', class: 'btn btn-green w-100 form-control' %>
    </div>

  <% end %>

<% else %>
  <h3><%= @item.name %></h3>
  <span>Calorías (kcal): <%= @item.calories %></span><br>
  <span>Proteínas (gr): <%= @item.proteins %></span><br>
  <span>Grasas Totales (gr): <%= @item.fats %></span><br>
  <span>Carbohidratos (gr): <%= @item.carbs %></span><br><br>
  <%= form_for @order_item do |f| %>
    <%= f.label :consumed_at, "Fecha de Consumo (mes/día/año)" %>
    <%= f.date_field :consumed_at %>
    <%= f.submit 'Confirmar', class: 'btn btn-green w-100' %>
  <% end %>
<% end %>
</div>
</div>

<script>
  function fetch_cal () {
    const getcal =  document.getElementById('getcal').value;
    document.getElementById('putcal').value = getcal;
  }
    function fetch_prot () {
    const getprot =  document.getElementById('getprot').value;
    document.getElementById('putprot').value = getprot;
  }
    function fetch_fat () {
    const getfat =  document.getElementById('getfat').value;
    document.getElementById('putfat').value = getfat;
  }
    function fetch_carb () {
    const getcarb =  document.getElementById('getcarb').value;
    document.getElementById('putcarb').value = getcarb;
  }
</script>
