<!-- _item-card.html.erb -->
<div class="item-card hvr-grow-s">
    <div class="item-card-infos">
      <h2 class="title"> <%= item.name %> </h2>
      <h2> <%= item.seller.name %> </h2>
      <p> <%= item.description %> </p>
      <div class="d-flex align-items-center justify-content-between">
        <h2>$ <%= item.price %></h2>
        <h2> <%= item.calories %> Kcal</h2>
      </div>
    </div>
    <%= image_tag "https://source.unsplash.com/50x50/?#{item.name}l", alt: "MealX" %>
</div>
