<!-- _item-modal.html.erb -->
<div class="modal fade item-modal"  <%= "id=itemModal-#{item.id}" %> tabindex="-1" role="dialog"
aria-labelledby="itemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document"> <!-- modal-lg -->
    <div class="modal-content">

      <div class="modal-header item-modal-header flex-column align-items-stretch"
      style="background-image: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.0) 100%),
      url(' <%= cl_image_path item.picture.key %> '); border-radius: 8px 8px 0 0">
        <div class="modal-header-top d-flex justify-content-between">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="far fa-times-circle"></i>
          </button>
        </div>
        <div class="item-modal-header-bottom d-flex justify-content-between
          align-items-center">
          <div class="titles">
            <h2 class="item-modal-name"> <%= item.name %> </h2>
            <h3 class="item-modal-seller">por <%= item.seller.name %> </h2>
          </div>
          <div class="item-modal-rating">
            <% if false %>white
              <span><i class="fas fa-star" style="color: white!important"></i></span>
            <% else %>
              <p> <%= rand(1..5) %> <i class="fas fa-star"></i></p>
            <% end %>
          </div>
        </div>
      </div>


      <div class="modal-body item-modal-body
        d-flex flex-column justify-content-between align-items-center">

        <!--<div class="item-modal-info">
          <div class="item-modal-description">
            <p> <%= item.description %> </p>
          </div>
        </div>-->

        <div class="item-modal-description">
          <p> <%= item.description %> </p>
        </div>

        <table class="item-nutritonal-table">
          <tbody>
          <tr>
            <td class="col1 fil-cal" >Calorías</td><td class="fil-cal"> <%= item.calories %> kcal</td>
          </tr>
          <tr>
            <td class="col1" >Proteinas</td><td> <%= item.proteins %> g</td>
          </tr>
          <tr>
            <td class="col1" >Grasas</td><td> <%= item.fats %> g</td>
          </tr>
          <tr>
           <td class="col1" >Carbohidratos</td><td> <%= item.carbs %> g</td>
         </tr>
          </tbody>
          </tr>
        </table>


        <!-- /items/:item_id/order_items -->
        <%= form_for [item, order_item], html: {class: "align-self-stretch"} do |f| %>
        <!-- <form class="align-self-stretch" action="/items/<%= item.id %>/order_items" method="POST"> -->

          <div class="item-modal-addorder form-row justify-content-between
            align-items-center">
            <!-- <h2>Cantidad:</h2> -->

            <div class="inc-dec d-flex align-items-center">
              <%= link_to "-", "#", class: "btn-inc-dec dec hvr-grow-s" %>
              <input class="input"
               type="text" id="item-quantity" name="quantity" value="1">
              <%= link_to "+", "#", class: "btn-inc-dec inc hvr-grow-s" %>
            </div>

            <!-- <button type="submit" class="btn btn-add-sm ml-2"
            data-disable_with= "Processsing..."
            >Agregar</button> -->
            <%= f.submit class:"btn btn-add-sm ml-2",
              data: { disable_with: "Procesando..." },
              value: "Agregar al carrito" %>

          </div>

          <!--<div class="item-modal-price-unit d-flex justify-content-between
            align-items-center">
            <p>Precio por unidad</p>
            <p class="price"> $<%= item.price %> </p>
          </div>-->

          <div class="item-modal-price d-flex justify-content-between
            align-items-center">
            <p>Total</p>
            <p class="price" id="item-quantity-total"> $<%= item.price %> </p>
          </div>

          <div class="item-modal-addtracking form-row align-items-center
          justify-content-between">

            <div class="opt-track d-flex justify-content-center
              align-items-center">
              <h2>Lo voy a comer hoy</h2>
              <div class="ml-2 nice-checkbox">
                <%= f.check_box :consumed_at, checked: true %>
              </div>
            </div>

            <div class="inc-dec d-flex align-items-center">
              <%= link_to "-", "#", class: "btn-inc-dec dec hvr-grow-s" %>
              <input class="input"
                type="text" name="quantity_consumed" value="1">
              <%= link_to "+", "#", class: "btn-inc-dec inc hvr-grow-s" %>
            </div>

          </div>

        <!-- </form> -->
        <% end %>
      </div>
    </div>
  </div>
</div>
