<!-- index.html.erb -->
<div class="container">
  <% @items_unfiltered.each do |item|  %>
    <%= render 'item-modal', item: item, order_item: @order_item %>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <%= render 'cart-modal', order: @order%>
    </div>
  </div>

  <!--Category Btn Carousel-->

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div id="carousel-item-override" class="carousel-inner">
      <% first = true %>
      <%= @categories.each_slice(4) do |category_pack| %>
        <div id="carousel-item-override"
          class="carousel-item <%= first ? "active" : "" %>">
          <% first = false %>
          <div class="categories mt-2">
            <% category_pack.each do |category| %>
              <%= link_to category_path(category.id), class: "category hvr-grow" do %>
                <%= image_tag "#{category.picture}",
                  alt: "#{category.name}",
                  id:"#{category.name}",
                  class: "category hvr-grow-s" %>
                <h2 style="font-size: 20px"> <%= category.name.capitalize %> </h2>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <!--<i style="font-size: 15px; color:white" class="fas fa-arrow-alt-circle-left"></i>-->
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <!--<i style="font-size: 15px; color:white" class="fas fa-arrow-alt-circle-right"></i>-->
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- -->

  <div class="text-center pt-3 pb-0 sugerencias bg-white">
    <h2> <%= "#{@message}" %> </h2>
  </div>
  <div class="item-cards">
    <% @items.each do |item|  %>
      <%= render 'item-card', item: item %>
    <% end %>
  </div>

  <% if @items.count == 0  %>
    <div class="text-center pt-3 pb-0 sugerencias bg-white">
      <h2> <%= "#{@secondary_message}" %> </h2>
    </div>
    <div class="item-cards">
      <% @items_unfiltered.each do |item|  %>
        <%= render 'item-card', item: item %>
      <% end %>
    </div>
  <% end %>

  <%= render 'shared/footer-btn-consume' %>

</div>
