<!-- index.html.erb -->
<div class="container">
  <% @items.each do |item|  %>
    <%= render 'item-modal', item: item, order_item: @order_item %>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <%= render 'cart-modal', order: @order%>
    </div>
  </div>


  <div class="categories">
    <% @categories.sample(8).each do |category| %>
      <%= link_to "#", class: "hvr-grow" do %>
        <%= image_tag "#{category.picture}", alt: "CategoryX", class: "category hvr-grow-s" %>
      <% end %>
    <% end %>
  </div>

  <div class="text-center pt-3 pb-0 sugerencias bg-white">
    <h2>Tus sugeridos</h2>
  </div>
  <div class="item-cards">
    <% if @items.count == 0 %>
      <%= render 'control_limit' %>
    <% else %>
      <% @items.each do |item|  %>
        <%= render 'item-card', item: item %>
      <% end %>
    <% end %>
  </div>
</div>

