<div class="container mt-5" style="background-color: white; width: auto; height: 100%">
  <div class="d-flex flex-column row justify-content-center mt-4">
    <div class="col-12 col-lg-6 text-center px-0">
      <h1>Registrar Consumo Diario</h1>
    </div>
    <div>
      <%= simple_form_for @item do |f| %>
        <%= f.input :name, label: 'Nombre:', collection: @items_to_select_from.each {|item| item.name}, include_blank: true, prompt: "Seleccioná un plato", required: true %>
        <%= f.input :calories, label: 'Calorías (kcal)', placeholder: '285', required: true %>
        <%= f.input :proteins, label: 'Proteínas (gr)', placeholder: '24', required: true %>
        <%= f.input :fats, label: 'Grasas Totales (gr)', placeholder: '15', required: true %>
        <%= f.input :carbs, label: 'Carbohidratos (gr)', placeholder: '14', required: true %>
        <%= f.submit 'Confirmar', class: 'btn btn-green w-100' %>
      <% end %>
    </div>
  </div>
</div>
