<div class="container mt-5 text-center" style="background-color:white">
  <%= link_to order_item_path(@order_item), method: :delete, data: {confirm: 'Estás seguro/a?'}, class: "link" do  %>
    <div class="d-flex justify-content-center">
      <h1 class="font-weight-bold">Cambiar Fecha de Consumo</h1>
      <i class="fas fa-trash-alt ml-3" style="font-size:100%"></i>
    </div>
  <% end %>

  <h2 class="font-weight-bold"><%= @item.name %></h2>
  <div class="row">
    <div class="col-12">
      <h4 class="font-weight-bold">Información nutricional:</h4>
        <ul>
          <li>Calorías<%= @item.calories %> kcal</li>
          <li>Proteínas<%= @item.proteins %> g</li>
          <li>Carbohidratos<%= @item.carbs %> g</li>
          <li>Grasas Totales<%= @item.fats %> g</li>
        </ul>
    </div>
  </div>
  <div class="row border border-dark">
    <div class="col-12">
      <h4>Consumido</h4>
      <%= @order_item.consumed_at.strftime("%A, %b, %d") %>
    </div>
  </div>
  <div>
    <h4>Nueva Fecha de Consumo</h4>
    <%= simple_form_for @order_item do |f| %>
      <%= f.input :consumed_at, label: "Fecha de consumo", placeholder: 'fecha' %>
      <%= f.submit 'Confirmar', class: 'btn btn-green w-100' %>
    <% end %>
  </div>
</div>
